<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>Angular Demo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="lib/angular/angular.min.js"></script>
        <script src="js/controller.js"></script>
    </head>
    <body>
        <div>
            <input type="text" ng-model="query" placeholder="Search string" autofocus />
            <br /><label>By: 
                <select ng-model='presenterOrder'>
                    <option value='name' selected>Name</option>
                    <option value='enjoys'>Enjoys</option>
                </select>
            </label>
            Order 
            <label><input type='radio' ng-model='direction' name='direction' checked>Asc</label>
            <label><input type='radio' ng-model='direction' name='direction' value='reverse'>Desc</label>
        </div>
        <div ng-controller="MyController as presenterList">
            <ul>
                <li ng-repeat="presenter in presenterList.presenters | filter: query | orderBy: presenterOrder:direction">
                    <h2><a href="#"ng-click="">X</a> {{presenter.name}}</h2>
                    <ul><li>{{presenter.enjoys}}</li></ul>
                </li>
            </ul>
        <form ng-submit="presenterList.addPresenter()">
            <input type="text" ng-model="presenterList.presenterText" />
            <input class="btn-primary" type="submit" value="Add" />
        </form>
    </div>
    </body>
</html>
